/* stylelint-disable */
/* 
  @see https://gitcode.com/kviewui/kux-autocss
  @version: v1.0.11
  @author kux <kviewui@163.com>
  2024-08-26 10:56:49
  该文件将会自动初始化并更新，切勿直接修改！
*/

/* margin-t */
.m-t-5{ margin-top: 5px; }
.m-t-8{ margin-top: 8px; }
.m-t-10{ margin-top: 10px; }
/* justify-content */
.justify-center{ justify-content: center; }
/* margin-b */
.m-b-10{ margin-bottom: 10px; }
/* padding-b */
.\!p-b-5{ padding-bottom: 5px !important; }
